<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questions</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
.container {
  display: flex;
  flex-direction: column;
   height: 100%;
}

.content {
  flex-grow: 1;
}

.but {
  height: 200px;
}
html, body {
    min-height: 100% !important;
    height: 100%;
}

    </style>
    <script>
    $(document).ready(function() {
        const tags = [];
      $("form").submit(function() {
        var group = {};
        $('input[name^="tag-group"]').each(function(index) {
          var tag = $(this).attr("id").split("btncheck-")[1];
          if($(this).is(':checked')){
             tags.push(tag);
          }
        });
        $('#tags').attr('value', tags);
        $('#mform').attr('action', 'q?tags=r,t,y');
      });
    });

    $(document).ready(function() {
        $('input[name^="tag-group"]').each(function(index) {
          if($(this).hasClass('check')){
             $(this).attr('checked', true);
          }
      });
    });



    </script>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic checkbox toggle button group">
            <tr th:each="tag: ${tags}">
                <input name="tag-group" type="checkbox" th:id="'btncheck-' + ${tag.tag}"
                       autocomplete="off" th:attr="class=${tag.selected ? 'btn-check check' : 'btn-check'}">
                <label class="btn btn-lg btn-outline-primary" th:for="'btncheck-' + ${tag.tag}" th:text="${tag.tag}"></label>
            </tr>
        </div>
        <h1 th:text="'('+${question.tag}+')  '+${question.question}" style="font-size: 5vh"/>
        <h2 th:text="${question.answer}" style="white-space: pre-line; font-size: 5vh"/>
    </div>

    <div>
        <form class="row g-3" action="/q" id="mform">
            <button type="submit" class="btn btn-primary btn-block but">Next</button>
            <input type="hidden" id="tags" name="tags" value="3"/>
        </form>
    </div>
</div>

</body>
</html>